{{#> Form formStyles="profile__container" }}
    <div class="profile__avatar">
        {{> Avatar }}
    </div>
    <div class="profile__info">
        {{> ProfileItem label="Старый пароль" isEdit=true name="oldPassword" type="password" }}
        {{> ProfileItem label="Новый пароль" isEdit=true name="newPassword" type="password" }}
        {{> ProfileItem label="Повторите новый пароль" isEdit=true name="repeateNewPassword" type="password" }}
    </div>
    <div class="profile__part profile__buttons-standart-container">
        {{> Button text="Сохранить" type="primary"  }}
    </div>
{{/Form}}
