<div class="widget">
    <div class="error-container">
        {{> Info text=errorCode }}
        {{> Title text=errorText }}
        {{> AppLink text='Вернуться к чатам' href='/chats' class="error-container__button" type="secondary" }}
    </div>
</div>
